.Switch {
  background-color: #00000040;
  transition: 0.1s;
  width: 44px;
  height: 22px;
  border-radius: 16px;
  display: inline-flex;
  padding: 2px;
  padding-right: 2px;
  padding-left: 24px;
  cursor: pointer;
  .handle {
    width: 18px;
    height: 18px;
    border-radius: 16px;
    background-color: #fff;
  }
}

.Switch.active {
  background-color: #1677ff;
  padding-left: 2px;
}
.Switch.disabled {
  background-color: #00000025;
}
.Switch.active.disabled {
  background-color: #1677ff80;
}
