//DEFAULD
//color
$default-color: #000;
$default-hover-color: #4096ff;
$default-pressed-color: #0958d9;
//bg-color
$default-bg-color: #fff;
$default-hover-bg-color: #fff;
$default-pressed-bg-color: #fff;
//border color
$default-border-color: #fff;
$default-hover-border-color: #fff;
$default-pressed-border-color: #fff;
// ===================================

//PRIMARY
$primary-color: #1677ff;
$primary-hover-color: #4096ff;
$primary-pressed-color: #0958d9;
//bg-color
$primary-bg-color: #1677ff;
$primary-hover-bg-color: #4096ff;
$primary-pressed-bg-color: #0958d9;
//border color
$primary-border-color: #1677ff;
$primary-hover-border-color: #4096ff;
$primary-pressed-border-color: #0958d9;
// ===================================

//GHOST
$ghost-color: #ff4d4f;
$ghost-hover-color: #ff4d4f;
$ghost-pressed-color: #cf1322;
//bg-color
$ghost-bg-color: #ff4d4f;
$ghost-hover-bg-color: #ff4d4f;
$ghost-pressed-bg-color: #cf1322;
//border color
$ghost-border-color: #ff4d4f;
$ghost-hover-border-color: #ff4d4f;
$ghost-pressed-border-color: #cf1322;
// ===================================
